<html>
	<body>
		<center ><h4/> -Sobre Nós- </center>
		<table align ="center">
			<tbody>
				<tr>
					<td valign = "center">
						<div align = "center">
								<h4>
								Somos estudantes da Universidade do Estado de Santa Catarina
								,este website foi criado com o intuito de auxiliar os estudantes
								no decorrer do seu curso para facilitar o entendimento de alguns
								algoritmos.
								<h4>Desenvolvido por: Leonardo Rosa Rodrigues e Perion Demaman
									<br />
									contato: leu-rr1@hotmail.com, periondemaman@gmail.com
								</h4>
							</h4>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
