<html>
  <body>
    <table>
      <tbody>
        <tr>
          <td>
            <img src = "http://blog.linguistica-international.com/wp-content/uploads/2015/10/Top-Social-Media-Tips-to-Engage-International-Customers-1038x576.png" width="1200" height="500"/>
          </td>
        </tr>
        <center><h3>Bem vindo, aperte o botão abaixo para executar os algoritmos</h3> </center>
        <div  align = "center">
        <%= button_to "Algoritmos", algorithms_index_path, method: :get%>
      </div>
      </tbody>
  </table>
  </body>
</html>
